extends layoutBS

block content
  body
  p(species = 'çursive')
    |Here's a list of posts

  form(method="post" action="/deletePost" species="cursive2")
    ol
      each s in posts
        li
          input(name="deleteName" value=s._id type="checkbox")
          e User: #{user.googleemail}--
          i Type: #{s.type} --
          e Area: #{s.code} --
          br
          i #{s.content}
    input(type="submit" value="Delete checked items")
